{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order"
  ],
  "rules": {
    "selector-class-pattern": null,
    "selector-nested-pattern": [
      "^(?!.*&(?:__|--)).*$",
      {
        "splitList": true
      }
    ],
    "selector-id-pattern": null,
    "custom-property-pattern": null,
    "color-function-notation": "legacy",
    "media-feature-name-no-vendor-prefix": null,
    "no-descending-specificity": null,
    "value-no-vendor-prefix": null,
    "property-no-vendor-prefix": null,
    "function-name-case": null,
    "font-family-no-missing-generic-family-keyword": null,
    "media-feature-name-no-unknown": null
  }
}
