.card {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .card__image {
    display: block;
    width: 100%;
    height: auto;
  }

  .card__title {
    font-size: 1.3rem;
  }

  .card__text {
    font-size: 0.9rem;
  }
}
