@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/NotoSansJP-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/NotoSansJP-Bold.otf");
  font-display: swap;
}
