.hamburger-button {
  @media (width > 768px) {
    display: none;
  }

  width: 48px;
  height: 48px;
  color: var(--text-color);
  appearance: none;
  background-color: transparent;
  border: none;

  .hamburger-button__open,
  .hamburger-button__close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hamburger-button__open {
    opacity: 1;
  }

  .hamburger-button__close {
    opacity: 0;
  }

  &.is-active {
    .hamburger-button__open {
      opacity: 0;
    }

    .hamburger-button__close {
      opacity: 1;
    }
  }

  .hamburger-button__label {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    font-size: 0.75rem;
    text-align: center;
  }
}
