.missions {
  display: flex;
  flex-direction: column;
  gap: 32px 0;

  .missions__portrait {
    position: relative;
    width: 512px;
    aspect-ratio: 1/1;
    margin: 0 auto;

    @media (width <= 768px) {
      width: 100%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .missions__portrait-bg {
    position: absolute;
  }

  .missions__portrait-photo {
    position: absolute;
  }

  .missions__text {
    display: grid;
    place-items: center;
  }

  .missions__text-inner {
    width: 600px;
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;

    @media (width <= 768px) {
      width: auto;
      padding: 0 24px;
    }
  }
}
