.news {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;

  .news__list {
    width: 640px;

    @media (width <= 768px) {
      width: auto;
      padding: 0 24px;
    }
  }
}
